<ul class="nav bg-secondary">
    <li class="nav-item">
        <a class="nav-link text-white " href="/wild">Index</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="/">Homepage</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="{{ path('show_category', {'categoryName': "horreur" }) }}">Category</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="{{ path('wild_show', { 'slug': "walking-dead"}) }}">show</a>
    </li>
</ul>