
<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link active" href="../wild/">Index</a>
    <a class="nav-item nav-link" href="/">Homepage</a>
    <a class="nav-item nav-link" href="#">Link</a>
</nav>