{%  include 'base.html.twig' %}

{% block title %} All programs {% endblock %}

{% block body %}
<h1>Toutes les série de la table program</h1>
{%  for program in programs %}
    <div>
        <h2>{{ loop.index }} / {{ program.title }}</h2>
        <p>{{ program.summary }}</p>
    </div>
{% else %}
Aucune série trouvée.
{% endfor %}
<a href="{{ path('app_index') }}">Retour à l'accueil</a>


    <br>
{% endblock %}


